/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-error {
  border-color: red;
  font-size: smaller;
}

/* .spinner-border {
  width: 3rem;
  height: 3rem;
  margin-top: 50px;
  color: purple;
} */

/* Expenses */

.addexpense {
  margin-bottom: 5px !important;
}

.flatBtn {
  border-radius: 0px;
  width: 100%;
}

.lbl {
  margin-right: 8px;
}

.pad-6 {
  padding: 5px;
}

/* table */

.table th:nth-child(1) {
  width: 5%;
}

.table th:nth-child(2) {
  width: 35%;
}

.table th:nth-child(3) {
  width: 10%;
}

.table th:nth-child(4) {
  width: 10%;
}

.table th:nth-child(5) {
  width: 20%;
}

.table th:nth-child(6) {
  width: 15%;
}
